:root{
    --fuentePrincipal:'Poppins', sans-serif;
    /* primarios*/
    --rojo: hsl(0, 78%, 62%);
    --celeste: hsl(180, 62%, 55%);
    --naranja: hsl(34, 97%, 64%);
    --azul: hsl(212, 86%, 64%);
    /* secundarios */
    --plomoOscuro: hsl(234, 12%, 34%);
    --plomoClaro: hsl(229, 6%, 66%);
    --casiBlanco: hsl(0, 0%, 98%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
}
*, *:before, *:after {
    box-sizing: inherit;
}

.alinear-texto-centro{
    text-align: center; 
}

.titulo{
    font-weight:200;
    font-size: 3rem;
    margin-bottom: -2.5rem;
       
}
.subtitulo{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: .5rem;
    
}
.parrafo-cabecera{
    margin: 2rem auto;
    color: var(--plomoClaro);
    font-weight:400;  
    opacity: 0.75;
}
/* @media(max-width:780px){
    .parrafo-cabecera{
        max-width: 100%;
    }
} */
.imagen{
    text-align: end;
    padding-top: 2rem;
 
}
/*grid*/
.contenedor{
    display: flex;
    flex-direction: column  ;
    column-gap: 4rem;
    margin-top: 3rem;
    max-width: 100%;

}
@media(min-width:900px){
    .contenedor{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }.parrafo-cabecera{    
        margin: 0 33rem;
    }

    
}
.supervisor{

    padding: 3rem;
    width:100%;
    margin: 0 auto;
    border: 1px solid black;
    border-top: .5rem solid var(--celeste);
    box-shadow: 0px 5px 15px var(--plomoClaro);
}
.team-builder{
    grid-column: 2/3;
    padding: 3rem;
    width: 100%;
    border: 1px solid black;
    border-top: .5rem solid var(--rojo);
    box-shadow: 0px 5px 15px var(--plomoClaro);
    
}
.karma{
    grid-column: 2/3;
    width: 100%;
    padding: 3rem;
    border: 1px solid black;
    border-top: .5rem solid var(--naranja);
    box-shadow: 0px 5px 15px var(--plomoClaro);
}
.calculator{
    grid-column: 3/4;
    width: 100%;
    padding: 3rem;
    border: 1px solid black;
    border-top: .5rem solid var(--azul);
    box-shadow: 0px 5px 15px var(--plomoClaro);
}
.columna1, .columna3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.columna2{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 4rem 0;
}
.parrafos{
    color: var(--plomoClaro);
    font-weight: 200;
    line-height: 2.5rem;
}
.border-radius{
    border-radius: 1rem;
}

.cabecera{
    max-width: 100%;
    min-width: 100%;
}
.cuerpo{
   width: 120rem;
   max-width: 90%;
   margin: 0 auto;
   padding: 1rem;
}



