:root{
    --Violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
    --FuenteHeading:'Poppins', sans-serif;
    --FuenteBody:'Open Sans', sans-serif;
    
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-image: url(./images/bg-mobile.svg);
    background-color: var(--Violet);
    background-repeat: no-repeat;
    color: white;
    
}
.centrar-texto{
    text-align: center;
}
.contenedor{
    padding: 3rem;
    height: 100vh;
   
}
.logo-contenedor{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5.5rem;
}
.logo{
    width: 13.8rem;
}
.imagen-contenedor{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
}
.imagen{
    width: 100%;
  /*  width: 34.5rem; */
}
.iconos-contenedor{
    display: flex;
    justify-content: center;
    margin: 7rem auto;
    gap: 1rem;
}
.icono{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid white;
    padding: .5rem;
}
.titulo{
    font-family: var(--FuenteHeading);
    font-size: 2.5rem;
}
.parrafo{
    font-family: var(--FuenteBody);
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    opacity: 0.75;
    padding-bottom: 2rem;
    
}
.boton-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton{
    background: white;
    color: var(--Violet);
    font-family: var(--FuenteBody);
    font-size: 1.7rem;
    font-weight: 400;
    padding: 1rem 6rem;
    border-radius: 10rem;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 3px 3px black ;
}
.boton:hover{
    background-color: var(--SoftMagenta);
    color: white;
}
@media(min-width:376px){
    
    body{
        background-image: url(./images/bg-desktop.svg);
    }
    .contenedor{
        padding: 8rem;
    }
    .principal{
        display: flex;
        gap:6rem;
    }
    .imagen{
        width: 70rem;
    }
    .logo{
        width: 20rem;
    }
    .centrar-texto{
        text-align: start;
    }
    .body-contenedor{
        text-align: left;
    }
    .titulo{
        font-size: 4rem;
        font-weight: 600;
    }
    .parrafo{
        font-size: 1.75rem;
    }
    .boton-contenedor{
        justify-content: flex-start;
    }
    .boton{
        font-weight: 600
    }
    .iconos-contenedor{
        justify-content: flex-end;
    }

}