:root{
    /* Colors */

    /* Primary */

    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    /*Neutral */

    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;   
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.8rem;
    min-height: 100vh;
    
    background-position-x: center;
    background-position-y:top;
    
}
li{
    list-style: none;
}
/*Utilitys*/
.text-center{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.header{
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10rem 1rem;
}
.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.icons{
    height: 4rem;
}

.parrafo{
    color: var(--Grayish-Blue);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.btn{
    width: 100%;
    border: none;
    border-radius: 10rem;
    padding: 2rem;
    color: white;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
/* .btn:last-of-type{

    margin-top: 2rem;
} */
.btn-ios{
    background-color: var(--Strong-Cyan);
    box-shadow: 5px 5px 1px var(--Strong-Cyan);
   
}
.btn-mac{
    background-color: var(--Light-Blue);
    
}
.img-computer{
    width: 100%;
}
.section-1{
    margin: 5rem 0;
}
.img-cel{
    width: 100%;
}
.section-2{
    margin: 10rem 0;
    padding: 0 3rem ;
}
.business{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}
.section-3-bot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    margin: 4rem 0 0 0;
    background-color: #F5F6F8;
    padding: 5rem;
}
.img-logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-footer{
    width: 5rem;
    height: 5rem;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
}
.social{
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.8rem;
    font-size: 1.64rem;
}

.section-1{
    padding: 3.9rem;
  
}
.section-3{
    padding: 0 3.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:1440px){
    .section-1-text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-1-parrafo{
        max-width: 45%;
    }
    .btn-container{
        display: flex;
        flex-direction: row;
    }
    
    .title-parrafo{
        max-width: 65%;
    }
    .btn-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        width: 30%;
    }
    
    .section-1-bot{
        display: flex;
        gap: 10rem;
       
    }
    .section-1-bot-text-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 25%;
       
    }
    .section-1-bot-text{
        text-align: start;
        
    }
    .img-computer{
        width: 75%;
    }
    .section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section-2-parrafo{
        max-width: 45%;
    }
    .section-3-bot{
        margin-bottom: 5rem;
    }
    .section-3-body{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .incons-container{
        padding: 0 5rem;
    }
    .business{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .section-3{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-3-bot-parrafo{
        max-width: 65%;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .list{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-weight: 700;
        color: var(--Dark-Grayish-Blue);
    }
    .contactUs{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .installGuide{
        grid-column: 3/4;
        grid-row: 1/2;
    }
}
