:root{
    --fuentePrincipal:'Spartan', sans-serif;
    --VeryDarkMagenta: hsl(300, 43%, 22%);
    --SoftPink: hsl(333, 80%, 67%);

/* Neutral */

    --DarkGrayishMagenta: hsl(303, 10%, 53%);
    --LightGrayishMagenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 1.5rem;
    background: url(./images/bg-pattern-top-desktop.svg),url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    font-family: var(--fuentePrincipal);
}
.contenedor{
    padding: 2rem;
}
/** utilidades**/
.centrar{
    text-align: center;
}
.no-padding{
    padding:0;
}
.no-margin{
    margin:0;
}
.stars{
    background-color: var(--LightGrayishMagenta);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    line-height: 2.8rem;
    padding: 1.5rem;
    color: var(--VeryDarkMagenta);
    font-weight: 700;
    
}
.stars:last-of-type{
    margin-bottom:5rem;
}
.stars p{
    margin: 0;
    padding: 0;
}

.titulo{
    color: var(--VeryDarkMagenta);
    font-weight:bold;
    font-size: 3.5rem;
    
}
.info-texto{
    color:var(--DarkGrayishMagenta);
    
    padding: 0rem;
   
}
/* comentarios*/

/*colton*/
.colton{
    background-color: var(--VeryDarkMagenta);
    color: var(--White);
    padding: 2.5rem 2.3rem;
    border-radius: 1rem;
    margin-top: 2rem;
}
.colton-top{
    display: flex;
}
.colton-img-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colton-image{
    border-radius: 50%;
    max-width: 80%;
    height: 80%;
}
.texto-top{
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nombre{
    font-weight: 500;
}
.verificado{
    color: var(--SoftPink);
    opacity: 0.75;
}
.comentario{
    line-height: 2.5rem;
    font-weight: 400;
    font-size: 1.5rem;
}
/**irene*/
.irene{
    background-color: var(--VeryDarkMagenta);
    color: var(--White);
    padding: 2.5rem 2.3rem;
    border-radius: 1rem;
    margin-top: 2rem;
}
.irene-top{
    display: flex;
}
.irene-img-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.irene-image{
    border-radius: 50%;
    max-width: 80%;
    height: 80%;
}
/**anne**/
.anne{
    background-color: var(--VeryDarkMagenta);
    color: var(--White);
    padding: 2.5rem 2.3rem;
    border-radius: 1rem;
    margin-top: 2rem;
}
.anne-top{
    display: flex;
}
.anne-img-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anne-image{
    border-radius: 50%;
    max-width: 80%;
    height: 80%;
}
.contenido-principal{
    margin: 4rem 0;
}
.calificacion{
    margin: 4.5rem 0;
}
@media(min-width:375px){
    .cuerpo{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .contenedor{
      
       width: 80%;
       margin: 0 auto;
       /* background-image: url(./images/bg-pattern-bottom-desktop.svg); */
    }
    header{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .contenido-principal{
        display: flex;
    }
    
    .titulo{
        font-size: 5rem;
        text-align: start;
    }
    .info-texto{
        font-weight: 500;
        text-align: start;
        line-height: 3rem;
    }
    .stars{
        display:flex;
        flex-direction: row;
        gap: 2rem;  
        margin-top: 3rem;
        max-width: 70%;
    }
    .stars2{
        margin-left: 4rem;
    }
    .stars3{
        margin-left: 8rem;
    }
    .stars-bot{
        font-weight: 700;
        font-size: 1.5rem;
        
    }
    /** comentrios**/
    .contenido-principal{
        gap:3rem;
        position: relative;
        
    }
    .colton, .irene, .anne{
        max-width: 30%;
        max-height: 40%;
    }
    .irene{
        margin-top: 4rem;
        margin-bottom: -4rem;

    }
    .anne{
        margin-top: 8rem;
        margin-bottom: -8rem;
    }
    .cabecera{
        display: flex;
    }
   .informacion{
    
        height: 80%;
        width: 80%;
        align-items: center;
        padding: 0rem 8rem 8rem 0;
        
    }
}
